html{
       -webkit-transition: rotateX(0deg); 
     -moz-transition: rotateX(0deg);
      -ms-transition: rotateX(0deg);
       -o-transition: rotateX(0deg);
          transition: rotateX(0deg);
    height:768px;
    }
body{
margin:0px;

.visHide{
    opacity:0;
     -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
       -o-transition: opacity 0.4s ;
          transition: opacity 0.4s;
    }
.visShow{
opacity:1;
//background:#FFFFFF;
   -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
       -o-transition: opacity 0.4s ;
          transition: opacity 0.4s;
    }
.hidden{
    opacity:0;
    width:0px;
    height:0px;
    display:none;
    }
.blast{
    opacity:1;
   -webkit-transition: opacity 0.15s;
     -moz-transition: opacity 0.15s;
      -ms-transition: opacity 0.15s;
       -o-transition: opacity 0.15s ;
          transition: opacity 0.15s;
    }
.dissipate{
    opacity:0;
    -webkit-transition: opacity 1.5s;
     -moz-transition: opacity 1.5s;
      -ms-transition: opacity 1.5s;
       -o-transition: opacity 1.5s ;
          transition: opacity 1.5s;
}

.fastDissipate{
    opacity:0;
    -webkit-transition: opacity 0.15s;
     -moz-transition: opacity 0.15s;
      -ms-transition: opacity 0.15s;
       -o-transition: opacity 0.15s ;
          transition: opacity 0.15s;
}
font-smooth:always;
#container{
    background-image:url('BackgroundTexture.png');
    position:relative;
    float:left;
    width: 1024px;
    height: 768px;
  //      background-color:#680027;
  #frontBlast{
      z-index:9000;
      position:absolute;
      width:1024px;
      height:768px;
      background:#FFFFFF;
      }
   .message{
         width: 1024px;
        height: 768px;
        #messageContainer{
            height:768px;
            background-image:url('BackgroundTexture.png');
            margin:0px auto 50px auto;
                p{
                    font-family: Helvetica, Arial, sans-serif;
                    font-weight:bold;
                    font-size: 175px;
                    text-align:center;
                    color: #C6C6C6;
                    text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
                    text-overflow:hidden;
                }
                text-overflow:hidden;
            overflow:hidden;
            }
        z-index:999;
        background-color:white;
        position:absolute;
        top:0px;
        left:0px;
        text-overflow:hidden;
        }
    .alarmdisplay{
        float:left;
        width:100%;
        text-align:center;
            #alarmtext{
                font-smooth:always;
                display:block;
                font-family: Helvetica, Arial, sans-serif;
                 margin: 159px auto 0px auto;
                text-align:center;
                font-size: 315px;
                line-height:315px;
                font-weight:bold;
                color: #cbcbcb;
                text-shadow: 0px 7px 7px rgba(0,0,0,0.4);
            }
        margin: 0px auto;
        }
    .minutesLabel{
        padding-left:187px;
        padding-right:124px;
        }
    .secondsLabel{
        padding-right:187px;
        padding-left:124px;
        }
    .minutesLabel, .secondsLabel{
        float:left;
        
        p{
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 30px;
            text-align:center;
            color: #c9c9c9;
             text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
        }
        width:200px;
        float:left;
        }
    .gradientbox{        
    float:left;
    //display:block;
    margin:30px 0px 0px 50px;
        .gradient{
            display:block;
                width: 925px;
            height: 53px;
            //margin: 190px auto 170px auto;
            background:rgba(0,0,0,0);
            //clear:both;
            float:left;
        background-image: url('ProgressBar.png');
                 border-radius: 30px;
            }
        }
    }   
}
footer{
    clear:left;
    p{
        float:left;
        }    
}