body{
    margin-top:-20px;
    margin-left:0px;
font-family:Helvetica, Arial, sans-serif;
    .container{
        overflow:hidden;
            background-image:url('BackgroundTexture.png');
        float:left;
            width:320px;
            height:480px;
            background-color:#14587f;
        .containeything{
            float:left;
            margin:10px 25px 15px 25px;
            height:455px;
            width:270px;
                .timetop{
                    span{
                         text-shadow: 0px 5px 5px rgba(0,0,0,0.5);
                        line-height:85px;
                        }
                    float:left;
                    width:270px;
                    font-size: 85px;
                    font-style: bold;
                    color: #cbcbcb;
                    text-align:center;
                    }
                .slider{
                    float:left;
                    background:green;
                    height:30px;
                    width:270px;
                    }
                .menu{
                    width:270px;
                    float:left;
                    margin-top:10px;
                    .leftButtons{
                        .pause{
                            span{
                                 text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
                                font-size: 18px;
                                font-weight: medium;
                                color: #cbcbcb;
                                text-align:center;
                                display:block;
                                float:left;
                                width:66px;
                                }
                            float:left;
                            line-height:35px;
                            }
                        .reset{
                            span{
                                 text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
                                font-size: 18px;
                                font-weight: medium;
                                color: #cbcbcb;
                                text-align:center;
                                display:block;
                                float:left;
                                width:66px;
                                }
                            float:left;
                            line-height:35px;
                            }
                        }
                    .start{
                        background:  #c4c4c4 -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
                    background:  #c4c4c4 -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                          float:left;
                        margin-left:38px;
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                        background-color: #c4c4c4;
                        color: #071e2d;
                        span{
                            margin-top:6px;
                            margin-left:25px;
                            text-align:center;
                            display:block;
                            width:50px;
                            font-size: 18px;
                            font-weight: bold;
                            color: #071e2d;
                            }
                        /*color: #c4c4c4;*/
                    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3); 
                    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3); 
                    -o-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
                    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
                  /*      gradient: from transparent to #000000, 30%, vertical
                        dropshadow: 30% opacity, 90 vertical, 2px distance, 0px spread, 2px size
                        */
                        }
                    }
                .sayings{
                    margin-top:10px;
                    margin-bottom:15px;
                    float:left;
                        .things{
                            width:200px;
                            float:left;
                                .sayingThings{
                                    margin-top:9px;
                                    float:left;
                                        span{
                                             text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
                                        display:block;
                                        height:27px;
                                        font-weight: bold;
                                        font-size: 20px;
                                        color: #ffffff;
                                        }                                    
                                    }
                           }
                        .button{
                            margin-left:43px;
                            width:25px;
                            float:left;
                                .buttonThings{
                                    margin-top:9px;
                                    float:left;
                                    width:27px;
                                    background-image:url('SpeechBubbleIcon.png');
                                    height:27px;
                                    border-radius: 6px;
                                    background-color: #c4c4c4;
                                    border: 1px, solid,#6e7b83;
                                    //gradient overlay: transparent to #000000, 30% opacity, vertical
                                    }
                            }    
                    }
                .textfield{
                    color: #071e2d;
                    padding:20px;
                    float:left;
                    width: 230px;
                    height: 60px;
                    border-radius: 5px;
                    background-color: #c4c4c4;
                    -webkit-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3); 
                    -moz-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3); 
                    -o-box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3);
                    box-shadow: inset -1px -1px 1px rgba(0,0,0,0.3);
                        span{
                            font-size: 18px;
                            font-weight: medium; 
                        }
                    }
                .rightButton{
                    float:right;
                    margin-top:10px;
                        width: 100px;
                        height: 35px;
                        border-radius: 5px;
                        background-color: #c4c4c4;
                    
                    background:  #c4c4c4 -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3)));
                    background:  #c4c4c4 -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    background:  #c4c4c4 linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%);
                    
                    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3); 
                    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3); 
                    -o-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
                    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
                        span{
                            margin-top:6px;
                            margin-left:25px;
                            text-align:center;
                            display:block;
                            width:50px;
                            font-size: 18px;
                            font-weight: bold;
                            color: #071e2d;
                            }
                    }
            }
        }
    }